*{
    margin: 0%;
    padding: 0%;
    font-family:sans-serif;
    box-sizing:border-box;
}
body{
    background-color: #171A28;
    color: #fff;
}
.container{
    margin: 12%;
    width: 80%;
    max-width: 900px;
    font-size: 20px;
    line-height: 2.9em;
    background-color: #0c0f18;
    padding: 5%;
    border-radius: 16px;
    box-shadow: 0 0 15px #011;
}
h1 span{
    color: #06B96C;
    border-bottom: 4px solid #06B96C;
    text-transform: capitalize;
    
}
p{
    color: #605f5f;
    font-weight: lighter;
    text-transform:uppercase;
}
.Choice-field{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
#result{
    color:rgb(235, 32, 32);
}
.Choice-field label{
    text-decoration: underline;
    text-transform: uppercase;
}
.Choice-field input{
    width: 15%;
    font-size:50px;
    border: none;
    outline: none;
    background:#1c1c27;
    color: #fff;
    border-radius: 5px;

}
img #msg{
    color:#fff;
    font-size: 10px;
    font-weight: bold;
}
.div-notify{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:left;

}
.passwords-field{
    width:100%;
    display: flex;
    align-items:center;
    justify-content:space-between;
    margin-top: 20px;
    margin-bottom: 30px;
}
.passwords-field .password-field{
    padding: 15px 20px;
    background-color: #1c1c27;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.password-field input{
    border: none;
    outline: none;
    font-size: 16px;
    background:#1c1c27;
    color: #06B96C;
    cursor: pointer;
}
.passwords-field img{
    width: 20px;
    cursor:pointer;
}
#line{
    width: 100%;
    border: 0.9px solid #1c1c27;
    margin-bottom:15px ;
}
#btn{
    font-size: 20px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    background: #06B96C;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 0 5px #fff;
    cursor: pointer;
    text-transform: uppercase;
}
#btn img{
    width: 20px;
    background: #fff;
    border-radius: 25px;
    box-shadow: 0 0 20px #080808;
}

#btn:hover{
    box-shadow:0 0 20px #5ef1b2 ;
}

@media screen and (max-width:770px){
    .container{
       width:70%;
       font-size: 12px;

    }
    .Choice-field input{
        font-size: 30px;
    }
    #result{
        font-size: 10px;
    }
    .passwords-field{
       flex-wrap: wrap;
       gap: 10px;
    }
    .passwords-field .password-field{
    padding: 8px 10px;
    font-size: 10px;
    }
    #btn{
        font-size: 12px;
    }
    }

@media screen and (max-width:488px){
    .container{
        width:85%;
        margin-left:2%;
        font-size: 8px;
    }
    .Choice-field input{
        font-size: 25px;
    }
    .passwords-field .password-field{
    padding: 6px 8.9px;
    font-size: 5px;
    }
    #btn{
        font-size: 9.5px;
        
    }
    #result{
        font-size: 9px;
    }
    #input-choice input{
        font-size:5px;
    }
}







